{{range $val :=.Output.Header}}
{{- $val }}
{{end}}

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import io.swagger.v3.oas.annotations.Operation;
import io.swagger.v3.oas.annotations.tags.Tag;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;
/**
 * {{.Comment}} 接口层
 */
@RestController
@Tag(name = "{{.Name}}Api", description = "{{.Comment}}")
public class {{.Name}}Controller {

    private static final Logger logger = LoggerFactory.getLogger({{.Name}}Controller.class);


    @Autowired
    private I{{.Name}}Service serviceImpl;

    /**
     * 新增
     */
    @Operation(summary = "新增-{{.Comment}}",operationId = "add")
    @PostMapping("{{.Api.Path}}/{{.Endpoint}}/add")
    public {{.Api.Class}}<Boolean> add(@RequestBody {{.Name}}Entity body) {
        return new {{.Api.Class}}<>(serviceImpl.save(body));
    }

    /**
     * 查询
     */
    @Operation(summary = "查询-{{.Comment}}",operationId = "get")
    @GetMapping("{{.Api.Path}}/{{.Endpoint}}/detail/{id}")
    public {{.Api.Class}}<{{.Name}}Entity> get(@PathVariable("id") Long id) {
        return new {{.Api.Class}}<>(serviceImpl.getById(id));
    }

    /**
     * 修改
     */
    @Operation(summary = "修改-{{.Comment}}",operationId = "update")
    @PutMapping("{{.Api.Path}}/{{.Endpoint}}/update/{id}")
    public {{.Api.Class}}<Boolean> update(@PathVariable("id") Long id, @RequestBody {{.Name}}Entity body) {
        body.setId(id);
        return new {{.Api.Class}}<>(serviceImpl.updateById(body));
    }

    /**
     * 删除
     */
    @Operation(summary = "删除-{{.Comment}}",operationId = "delete")
    @DeleteMapping("{{.Api.Path}}/{{.Endpoint}}/delete/{id}")
    public {{.Api.Class}}<Boolean> delete(@PathVariable("id") Long id) {
        return new {{.Api.Class}}<>(serviceImpl.removeById(id));
    }

    /**
     * 分页
     */
    @Operation(summary = "分页查询-{{.Comment}}",operationId = "page")
    @GetMapping("{{.Api.Path}}/{{.Endpoint}}/page")
    public {{.Api.Class}}<IPage<{{.Name}}Entity>> page(@RequestParam("page") Integer page,@RequestParam("size") Integer size) {
        IPage<{{.Name}}Entity> pageable = new Page<>(page-1, size);
        return new {{.Api.Class}}<>(serviceImpl.page(pageable));
    }

    /**
     * 全量
     */
    @Operation(summary = "全量查询-{{.Comment}}",operationId = "list")
    @GetMapping("{{.Api.Path}}/{{.Endpoint}}/list")
    public {{.Api.Class}}<List<{{.Name}}Entity>> list() {
        return new {{.Api.Class}}<>(serviceImpl.list());
    }
}


