{{range $val :=.Output.Header}}
{{- $val}}
{{end}}

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.springframework.stereotype.Component;

/**
 * {{.Comment}} 持久层
 */
public interface {{.Name}}Repository extends BaseMapper<{{.Name}}Entity>{

}