{{range $val :=.Output.Header}}
{{- $val}}
{{end}}

import com.baomidou.mybatisplus.extension.service.IService;

/**
 * {{.Comment}} 服务层
 */
public interface {{.Name}}Service extends IService<{{.Name}}Entity>{

}