{{range $val :=.Output.Header}}
{{- $val}}
{{end}}

import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import org.springframework.stereotype.Service;

/**
 * {{.Comment}} 业务层
 */
@Service
public class {{.Name}}ServiceImpl extends ServiceImpl<{{.Name}}Repository, {{.Name}}Entity> implements {{.Name}}Service{

}